*, *::before, *::after {box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body, html, ul {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
ul {
  list-style: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: #00008b;
}
a:hover {
  text-decoration: underline;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #777;
  color: #f5f5dc;
  font-size: 16px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
aside {
  position: fixed;
  top: 0;
  left: -150px;
  bottom: 0;
  width: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  transition: left .2s ease-in;
  background-color: #333;
}
aside a {
  color: #f5f5dc;
}
aside::before {
  content: '>';
  position: absolute;
  left: calc(100% - 1px);
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0 99em 99em 0;
  background-color: #333;
}
aside:hover {
  left: 0;
}
nav li {
  margin-top: 20px;
}

.resume {
  padding: 10px 20px 20px 10px;
  display: flex;
  flex-direction: column;
}
.resume h1 {
  text-align: center;
}
.resume img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.resume-section {
  padding-bottom: 20px;
  border-bottom: 1px dotted #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-section:last-child {
  border-bottom: none;
}
.resume-section h3 {
  color: #000;
}
.employment {
  max-width: 400px;
}
.employment h4,
.employment__date {
  color: black;
}
footer {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  box-shadow: 0 -1px 2px #333;
}
footer img {
  height: 30px;
  width: auto;
}