*, *::before, *::after {box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body, html, ul {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
ul {
  list-style: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: #00008b;
}
a:hover {
  text-decoration: underline;
}
body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "main main"
    "footer footer";
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  background-color: #777;
  color: #f5f5dc;
  font-size: 16px;
}
header {
  grid-area: header;
  box-shadow: 0 2px 2px #000;
  background-color: #555;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
nav li {
  margin-top: 20px;
}

main {
  grid-area: main;
  padding: 0 20px 20px 170px;
  display: flex;
  flex-direction: column;
}
main img {
  width: 150px;
  height: auto;
}
.resume-section {
  padding-bottom: 20px;
  border-bottom: 1px dotted #333;
}
.resume-section:last-child {
  border-bottom: none;
}
.resume-section h3 {
  color: #000;
}
footer {
  grid-area: footer;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  box-shadow: 0 -1px 2px #333;
}
footer img {
  height: 30px;
  width: auto;
}